<div class="text-center relative w-3/5">
    <div class=" top-0 h-14"></div>
    <div class="row mx-auto d-flex align-items-center min-vh-100"></div>
</div>

<div class=" grid grid-cols-2 gap-2 flex-row pr-2 p-3">
    {{ petData as |petData|}}
    <div class=" flex-row rounded-md h-50 mx-3 my-5 right-5">
        <img src="./public/images/{{petData.filename}}" alt="{{petData.filename}}" class="rounded-md"
            pet-id="{{petData.id}}" />

    </div>
    <div>
        <div class=" h-28"> </div>

        <p id="Name">Name : {{petData.name}}</p>
        <p id="Name">Breed: {{petData.breed}}</p>
        <p id="Name">Type : {{petData.type}}</p>
        <p id="Name">Age : {{#if petData.age}} year(s) old</p>
        <p id="Name">Description: {{petData.description}}</p>
    {{/}}

        <br><br><br><br><br><br>
        <button type="submit" id="pet-data"
            class="btn rounded-sm bg-orange-300 border-blue-700 border text-blue-700 hover:text-white hover:bg-blue-800 focus:outline-none focus:ring-blue-300 text-center">Back
            to previous
            page</button>

    </div>

</div>
 {{#if pet-data}}


<script type="text/javascript" src="../public/js/pet.js"></script>